<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diplomchik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="global_varueble"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".secondForm"/>
        <activity android:name=".testsTems"/>
        <activity android:name=".thirdForm"/>
        <activity android:name=".fourthForm"/>
        <activity android:name=".fifthForm"/>
        <activity android:name=".sixthForm"/>
        <activity android:name=".seventhForm"/>
        <activity android:name=".eigthForm"/>
        <activity android:name=".ninethForm"/>
        <activity android:name=".global_varueble"/>
        <activity android:name=".testMain3"/>
        <activity android:name=".testMain2"/>
        <activity android:name=".testMain4"/>
        <activity android:name=".testMain5"/>
        <activity android:name=".testMain6"/>
        <activity android:name=".testMain7"/>
        <activity android:name=".testSelect"/>
        <activity android:name=".testsMain"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>